.list_water_items {
  display: flex;
  gap: 17px;
  overflow-x: auto;
  padding-left: 0;
  margin-bottom: 0;
  padding-bottom: 24px;
  margin-top: 24px;
}

.water_item {
  flex: none;
  background-color: var(--main-white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 2px 4px var(--shadow);
}

.water_item_content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.water_item strong {
  font-size: 16px;
  color: var(--main);
}

.water_item p {
  font-size: 12px;
  color: var(--main-text);
  margin-top: 5px;
}

.editButton,
.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
}

.container_buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.svg_edit {
  fill: none;
  stroke: var(--main);
  stroke-width: 2px;
}

.svg_delete {
  fill: none;
  stroke: var(--main);
  stroke-width: 2px;
}

.icon_glass_water {
  fill: var(--accent);
  stroke: var(--accent);
  stroke-width: 0;
}

/* Основний скролбар */
::-webkit-scrollbar {
  width: 10px; /* ширина вертикального скролбару */
  height: 10px; /* висота горизонтального скролбару */
  transition: all var(--transition);
}

/* Фон скролбару */
::-webkit-scrollbar-track {
  background: var(--main-white); /* колір фону */
  border-radius: 10px; /* округлення */
}

/* Сам повзунок */
::-webkit-scrollbar-thumb {
  background: var(--main); /* колір повзунка */
  border-radius: 10px; /* округлення */
}

/* Повзунок при наведенні */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-text); /* колір повзунка при наведенні */
}
