.wrapper {
  box-sizing: border-box;
  width: 198px;
  height: 70px;
  background-color: var(--main-white);
  border-radius: 15px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 42px;
}
.bar {
  width: 174px;
  height: 6px;
  background-color: var(--background);
  border-radius: 9px;
}
.progressLine {
  background-color: var(--accent);
  height: 6px;
  border-radius: 9px;
  position: relative;
  transition: width 0.5s;
}
.header {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}

.headerUk {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
}

.textContainer {
  display: flex;
  justify-content: space-between;
}
.text,
.text1,
.text2 {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: var(--main-text);
}
.text1 {
  margin-left: -4px;
}
.text2 {
  margin-right: -10px;
}

.activePercent {
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  color: var(--accent);
  position: absolute;
  top: 15px;
  transform: translateX(-50%);
  border-radius: 4px;
}
.progressLine::after {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid var(--accent);
  position: absolute;
  right: 0px;
  top: 50%;
  background-color: var(--main-white);
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 296px;
    height: 106px;
    border-radius: 15px;
    padding: 20px;
    gap: 6px;
    margin-bottom: 26px;
  }
  .bar {
    width: 256px;
    height: 8px;
  }
  .progressLine {
    height: 8px;
  }
  .header {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
  }
  .text,
  .text1,
  .text2 {
    font-size: 12px;
    line-height: 22px;
  }

  .activePercent {
    font-size: 10px;
    line-height: 18px;
    top: 16px;
    border-radius: 4px;
  }
}
@media screen and (min-width: 1440px) {
  .wrapper {
    margin-bottom: 56px;
  }
}
