.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--main-placeholder);
  z-index: 1000;
}

.modal {
  background: var(--main-white);
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  box-shadow: 0 4px 50px 0 var(--shadow);
  overflow-y: scroll;
}

.modal::-webkit-scrollbar {
  width: 22px;
}
.modal::-webkit-scrollbar-track {
  background: inherit;
}
.modal::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 15px;
  background-clip: content-box;
  border: 8px solid transparent;
}
.modal::-webkit-scrollbar-thumb:hover {
  background: rgba(81, 83, 84, 0.3);
  background-clip: content-box;
  border: 8px solid transparent;
}
.closeButton {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.closeIcon {
  stroke: var(--main);
  transition: all var(--transition);
}

.closeButton:focus {
  outline: none;
}

.closeButton:hover > .closeIcon {
  stroke: var(--logout-btn);
}

@media screen and (min-width: 768px) {
  .modal::-webkit-scrollbar {
    width: 36px;
  }
  .modal::-webkit-scrollbar-thumb {
    border: 15px solid transparent;
  }
  .modal::-webkit-scrollbar-thumb:hover {
    background: rgba(81, 83, 84, 0.3);
    background-clip: content-box;
    border: 14px solid transparent;
  }
  .closeButton {
    width: 28px;
    height: 28px;
    top: 40px;
    right: 40px;
  }
  .closeIcon {
    width: 28px;
    height: 28px;
  }
}
