.modal {
  border-radius: 15px;
  padding: 40px 0 40px 14px;
  background: var(--main-white);
  position: relative;
  width: 330px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  margin-bottom: 16px;
}

.titleUk {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  margin-bottom: 16px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  margin-bottom: 28px;
}

.textUk {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  margin-bottom: 28px;
}

.logoutBtn {
  border-radius: 30px;
  padding: 14px 0;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  border: none;
  outline: transparent;
  margin-bottom: 9px;
  transition: all var(--transition);
}

.logoutBtnUk {
  font-family: var(--font-family);
  border-radius: 30px;
  padding: 14px 0;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  border: none;
  outline: transparent;
  margin-bottom: 9px;
  transition: all var(--transition);
}

.cancelBtn {
  min-width: 100%;
  border-radius: 30px;
  padding: 14px 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: transparent;
  background: var(--background);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(50, 63, 71, 0.3);
  transition: all var(--transition);
}

.cancelBtnUk {
  font-family: var(--font-family);
  min-width: 100%;
  border-radius: 30px;
  padding: 14px 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: transparent;
  background: var(--background);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(50, 63, 71, 0.3);
  transition: all var(--transition);
}

.logoutBtn:hover,
.logoutBtn:focus {
  background-color: var(--accent-hover);
}
.cancelBtn:hover,
.cancelBtn:focus {
  color: var(--main);
}
.closeBtn {
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f474d;
}

/* =================TABLET=============== */

@media screen and (min-width: 768px) {
  .modal {
    width: 476px;
    padding: 40px 0 40px 40px;
  }
  .title {
    font-size: 28px;
    line-height: 114%;
  }
  .text {
    font-size: 18px;
    line-height: 133%;
  }
  .btnWrap {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .logoutBtn {
    padding: 18px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 150%;
    min-width: 0;
    margin-bottom: 0;
  }
  .cancelBtn {
    min-width: 0;
    padding: 18px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 150%;
  }
  .closeBtn {
    top: 20px;
    right: 20px;
  }
}
