.form {
  display: flex;
  flex-direction: column;
}
.text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
.secondaryText {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.baseLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.counterContainer {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.counterBtn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--main);
  background-color: transparent;
  cursor: pointer;
}
.decrementBtn,
.incrementBtn {
  cursor: not-allowed;
  opacity: 0.3;
}

.count {
  box-sizing: border-box;
  width: 98px;
  height: 40px;
  border-radius: 30px;
  border: none;
  padding: 11px 20px;
  text-align: center;
  background-color: var(--main);
  color: var(--main-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.baseInput {
  box-sizing: border-box;
  width: 303px;
  height: 46px;
  padding: 14px 16px;
  border-radius: 15px;
  margin-bottom: 24px;
  border: 1px solid var(--main-text);
}
.secondaryLabel {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.saveBtn {
  padding: 0;
  width: 116px;
  height: 46px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  background-color: var(--accent);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.counterBtn:hover {
  background-color: var(--main);
  color: var(--main-white);
}
.decrementBtn:hover,
.incrementBtn:hover {
  background-color: transparent;
}
