.form {
  display: flex;
  flex-direction: column;
}
.header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}
.text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.textUk {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.secondaryText {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.secondaryTextUk {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.baseLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
}

.baseLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
}

.counterContainer {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
}
.counterBtn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--main);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--transition);
}
.decrementBtn,
.incrementBtn {
  cursor: not-allowed;
  opacity: 0.3;
  transition: all var(--transition);
}

.count {
  box-sizing: border-box;
  min-width: 98px;
  height: 40px;
  border-radius: 30px;
  border: none;
  padding: 11px 20px;
  text-align: center;
  background-color: var(--main);
  color: var(--main-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.count {
  font-family: var(--font-family);
  box-sizing: border-box;
  min-width: 98px;
  height: 40px;
  border-radius: 30px;
  border: none;
  padding: 11px 20px;
  text-align: center;
  background-color: var(--main);
  color: var(--main-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.baseInput {
  box-sizing: border-box;
  width: 303px;
  height: 46px;
  padding: 14px 16px;
  border-radius: 15px;
  border: 1px solid var(--main-text);
  margin-top: 8px;
  margin-bottom: 2px;
  transition: all var(--transition);
}
.secondaryLabel {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

.secondaryLabelUk {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

.saveBtn {
  padding: 0;
  width: 116px;
  height: 46px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  background-color: var(--accent);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  transition: all var(--transition);
}

.saveBtnUk {
  font-family: var(--font-family);
  padding: 0;
  width: 116px;
  height: 46px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  background-color: var(--accent);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  transition: all var(--transition);
}

.counterBtn:hover {
  background-color: var(--main);
  color: var(--main-white);
}
.decrementBtn:hover,
.incrementBtn:hover {
  background-color: transparent;
}

.saveBtn:hover {
  background-color: var(--accent-hover);
}
.baseInput:hover {
  border: 1px solid var(--main);
}
.iconMinus,
.iconPlus {
  transition: all var(--transition);
  stroke: var(--main);
}
.counterBtn:hover .iconMinus,
.counterBtn:hover .iconPlus {
  stroke: var(--main-white);
}
.decrementBtn:hover .iconMinus,
.incrementBtn:hover .iconPlus {
  stroke: var(--main);
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  height: 22px;
  color: var(--validation-error);
}
@media screen and (min-width: 768px) {
  .header {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 24px;
  }
  .text {
    font-size: 18px;
    line-height: 24px;
  }

  .secondaryText {
    font-size: 16px;
    line-height: 24px;
  }
  .baseLabel {
    font-size: 16px;
    line-height: 24px;
  }
  .counterBtn {
    height: 43px;
    width: 43px;
  }
  .count {
    height: 43px;
    font-size: 15px;
    line-height: 22px;
    min-width: 100px;
  }
  .baseInput {
    width: 438px;
    height: 56px;
    padding: 16px 16px;
    border: 1px solid var(--main-text);
  }
  .baseInput:focus {
    outline: none;
  }
  .secondaryLabel {
    font-size: 18px;
    line-height: 24px;
  }
  .saveBtn {
    width: 140px;
    height: 60px;
    font-size: 18px;
    line-height: 24px;
  }
}
.errorInput {
  border: 1px solid var(--validation-error);
  color: var(--validation-error);
}
