.wrap {
  border-radius: 15px;
  padding: 14px 57px 14px 20px;
  box-shadow: 0 4px 50px 0 var(--shadow);
  background: var(--main-white);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.settingBtn {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: var(--main);
  border: none;
  background-color: inherit;
  gap: 8px;
  transition: all var(--transition);
}

.settingBtnUk {
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: var(--main);
  border: none;
  background-color: inherit;
  gap: 8px;
  transition: all var(--transition);
}

.settingIcon {
  fill: none;
  stroke: var(--main);
  transition: all var(--transition);
}

.logoutIcon {
  fill: none;
  stroke: var(--logout-btn);
  transition: all var(--transition);
}
.settingBtn:hover,
.settingBtn:focus {
  color: var(--accent-hover);
}

.settingBtn:hover .settingIcon,
.settingBtn:focus .settingIcon {
  stroke: #87d28d;
}

.logoutBtn {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: var(--logout-btn);
  border: none;
  background-color: inherit;
  gap: 8px;
  transition: all var(--transition);
}

.logoutBtnUk {
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: var(--logout-btn);
  border: none;
  background-color: inherit;
  gap: 8px;
  transition: all var(--transition);
}

.logoutBtn:hover .logoutIcon,
.logoutBtn:focus .logoutIcon {
  stroke: var(--main);
}

.logoutBtn:hover,
.logoutBtn:focus {
  color: var(--main);
}

.modalCloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
/* =============TABLET============= */

@media screen and (min-width: 768px) {
  .settingBtn {
    font-size: 15px;
    line-height: 149%;
  }
  .logoutBtn {
    font-size: 15px;
    line-height: 149%;
  }
}
