.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 303px;
}

.fieldset {
  border: none;
  padding: 0;
}

.radioWrapper {
  display: flex;
  gap: 20px;
  margin-top: 24px;
}
.labelsRadioWrap {
  display: flex;
  gap: 10px;
}

.radioInput {
  display: none;
}
.fakeRadio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid var(--accent);

  position: relative;
}
.fakeRadio::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--accent);
  opacity: 0;
  transition: 0.2s;
}
.radioInput:checked + .fakeRadio::before {
  opacity: 1;
}
.legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--main);
}

.legend {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: var(--main);
}

.leftPart {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 303px;
}
.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
}

.labelUk {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
}

.bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.input {
  border: 1px solid var(--main-border);
  border-radius: 15px;
  padding: 16px 0 16px 16px;
  outline: transparent;
}
.errorInput {
  border-color: var(--validation-error);
}
.errorText {
  color: var(--validation-error);
}

.rightPart {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.waterAmount {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
}

.waterAmountUk {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
}

.accent {
  color: var(--accent);
}

.saveBtn {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 46px;
  border: none;
  background: var(--accent);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  transition: all var(--transition);
}

.saveBtnUk {
  font-family: var(--font-family);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 46px;
  border: none;
  background: var(--accent);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  transition: all var(--transition);
}

.saveBtn:hover,
.saveBtn:focus {
  background-color: var(--accent-hover);
}

/* ==============TABLET============= */

@media screen and (min-width: 768px) {
  .form {
    width: 568px;
  }

  .labelContainer {
    width: 568px;
  }

  .label {
    font-size: 16px;
    line-height: 150%;
  }

  .bold {
    font-size: 18px;
    line-height: 133%;
  }

  .waterAmount {
    font-size: 16px;
    line-height: 150%;
  }

  .saveBtn {
    font-size: 16px;
    line-height: 150%;
    width: 141px;
    height: 56px;
  }

  .rightPart {
    margin-top: 24px;
  }
}

/* ===================DESKTOP================== */

@media screen and (min-width: 1440px) {
  .form {
    width: 840px;
  }

  .columnsWrapper {
    display: flex;
    gap: 40px;
  }

  .labelContainer {
    width: 400px;
  }

  .rightPart {
    margin-top: 0;
  }
}

.details {
  min-width: 304px;
  width: 100%;
  transition: all var(--transition);
}

.summary {
  background-color: inherit;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0, 01em;
  color: var(--main);
  cursor: pointer;
  transition: all var(--transition);
  width: 100%;
  border: 1px solid var(--main-border);
  border-radius: 15px;
  padding: 16px;
  outline: transparent;
}

.summaryUk {
  font-family: var(--font-family);
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0, 01em;
  color: var(--main);
  cursor: pointer;
  transition: all var(--transition);
}

.summary::marker {
  content: none;
}
.summary:hover {
  color: var(--accent-hover);
}

.summary:hover .icon {
  color: var(--accent-hover);
}
.icon {
  width: 16px;
  height: 16px;
  transition: all var(--transition);
}

.appDetails[open] .appIcon {
  transform: rotate(180deg);
}

.icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .wrap {
    padding: 40px 0 40px 40px;
  }
  .title {
    font-size: 28px;
    line-height: 114%;
  }

  .details {
    width: 568px;
  }

  .summary {
    font-size: 16px;
    line-height: 124%;
  }
}

@media screen and (min-width: 1440px) {
  .details {
    min-width: 840px;
  }
}
