.container {
  background-color: rgb(240, 239, 244);
  width: 334px;
  padding: 24px 16px;
  height: 780px;
  border-radius: 30px;
}
.logo {
  margin-bottom: 126px;
}
.title {
  margin-bottom: 32px;
  color: rgb(50, 63, 71);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.03125em;
}
.notify {
  color: rgba(47, 47, 47, 0.6);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.0555em;
  text-align: center;
  margin-top: 16px;
}
.navLink {
  color: rgb(50, 63, 71);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1%;
}
.advantagesSection {
  display: none;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 32px;
    width: 704px;
    height: 960px;
    display: flex;
    flex-direction: column;
  }
  .content {
    margin: 0 auto;
  }
  .logo {
    margin-bottom: 170px;
  }
  .title {
    font-size: 36px;
  }
  .notify {
    font-size: 16px;
  }
  .navLink {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 672px;
    height: 736px;
  }
  .logo {
    margin-bottom: 74px;
  }
  .desctopContainer {
    display: flex;
    gap: 32px;
  }
  .advantagesSection {
    width: 672px;
    height: 736px;
    display: block;
  }
}
