.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0eff4;
  width: 343px;
  border-radius: 30px;
  padding: 24px 16px;
  font-family: inherit;
}
.logo {
  display: flex;
  margin-bottom: 172px;
}
.heading {
  display: flex;
  text-transform: capitalize;
  margin-bottom: 32px;
}
.container p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}
.container span {
  font-weight: bold;
}
