.container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 67px 16px;
  background-color: #f0eff4;
  border-radius: 30px;
}

.logo{
  position: absolute;
  left: 16px;
  top: 24px;
}

.titles {
  text-align: left;
}

.subtitle {
  font-size: 14px;
  color: #2f2f2f;
  margin-bottom: 16px;
  font-weight: 400;
}

.title {
  font-size: 38px;
  color: #323f47;
  margin-bottom: 32px;
  line-height: 38px;
  font-weight: 700;
}

.buttons {
  display: flex;
  gap: 10px;
}

.tryTracker {
  padding: 14px 19px;
  background-color: #9be1a0;
  color: #323f47;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  border-radius: 30px;
}

.signIn {
  padding: 14px 28px;
  background-color: #ffffff;
  color: #323f47;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
  border: 1px solid #323f47;
}

.tryTracker:hover {
  background-color: #87d28d;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    padding-left: 64px;
    padding-right: 93px;
  }
  .title {
    font-size: 68px;
    line-height: 70px;
  }
  .tryTracker {
    padding: 18px 40px;
  }
  .signIn {
    padding: 18px 40px;
  }
  .logo{
    top: 32px;
    left: 32px;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    padding-top: 188px;
    padding-bottom: 188px;
    padding-left: 64px;
    padding-right: 61px;
  }

  .signIn:hover {
    border-color: #87d28d;
    color: #87d28d;
  }
  .title {
    font-size: 80px;
    line-height: 76px;
  }
}
