.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
}
.form {
  height: 18px;
  cursor: pointer;
  justify-content: center;
  height: 18px;
  /* margin-right: 15px; */
}

.error {
  color: var(--validation-error);
}

.avatarSetWrapp {
  display: flex;
  gap: 8px;
}
.img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
}

.iconAvatar {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  color: var(--main);
}
.icon {
  color: var(--main);
  width: 18px;
  height: 18px;
  transition: all var(--transition);
}

.icon:hover {
  color: var(--accent-hover);
  scale: 1.1;
}
.wrapInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
  transition: all var(--transition);
  display: flex;
  gap: 8px;
  align-items: center;
}

.textUk {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);
  transition: all var(--transition);
  display: flex;
  gap: 8px;
  align-items: center;
}

.text:hover {
  color: var(--accent-hover);
}

.text:hover > .icon {
  color: var(--accent-hover);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
}
.iconAvatar {
  width: 75px;
  height: 75px;
  color: var(--main);
  margin-bottom: 10px;
}
/* ================TABLET============= */
@media screen and (min-width: 768px) {
  .form {
    height: 18px;
    cursor: pointer;
    justify-content: center;
    height: 24px;
  }

  .img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  .iconAvatar {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .wrapInput {
    display: flex;
    gap: 8px;
  }

  .text {
    font-size: 16px;
    line-height: 150%;
  }
  .iconAvatar {
    width: 100px;
    height: 100px;
  }
}
