:root {
  --font-family: 'Poppins', sans-serif;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main: #323f47;
  --main-text: #2f2f2f;
  --main-border: #2f2f2f33;
  --main-placeholder: #2f2f2f99;
  --logout-btn: #737476;
  --shadow: #0000001a;
  --accent: #9be1a0;
  --accent-hover: #87d28d;
  --background: #f0eff4;
  --main-white: #fff;
  --validation-error: #ef5050;
}

.darkTheme {
  --main: rgba(0 118 189 / 63%);
  --main-text: #0a0a0b;
  --main-border: #000000;
  --main-placeholder: #000000;
  --logout-btn: #323f47;
  --shadow: #0000001a;

  --accent: #0e350f;
  --accent-hover: #19511a;

  --background: #323a47;
  --main-white: #fff;
  --validation-error: #ef5050;
}

.pinkTheme {
  --main: #2593a3;
  --main-text: #5c5454f2;
  --main-border: #2f2f2f33;
  --main-placeholder: #2f2f2f99;
  --logout-btn: #323f4766;
  --shadow: #0000001a;
  --accent: #ff478b73;
  --accent-hover: #e18daeba;
  --background: rgb(220 33 99 / 34%);
  --main-white: #fff;
  --validation-error: #ef5050;
}
