.WaterMainInfoContainer {
  height: 415px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  border-radius: 30px;
  padding: 24px 16px 32px 16px;
  background-image: url('/boardBg/Mobile/1x/transparent_bottle_for_water\ 1-min.png');
  background-repeat: no-repeat;
  background-position: bottom 30px center;
  background-size: 262px 335px;
}

@media screen and (min-width: 768px) {
  .WaterMainInfoContainer {
    height: 578px;
    padding: 32px 32px 64px 32px;
    background-image: url('/public/boardBg/Tablet/1x/transparent_bottle_for_water\ 1-min.png');
    background-size: 374px 477px;
    background-position: bottom 32px center;
  }
}

@media screen and (min-width: 1440px) {
  .WaterMainInfoContainer {
    height: auto;
    width: 672px;
    background-image: url('/public/boardBg/Desctop/1x/transparent_bottle_for_water\ 1-1-min.png');
    background-size: 472px 604px;
    background-position: bottom 40px center;
  }
}

@media (min-resolution: 192dpi) and (min-width: 375px) {
  .WaterMainInfoContainer {
    background-image: url('/public/boardBg/Mobile/2x/transparent_bottle_for_water\ 1@2x-min.png');
  }
}
@media (min-resolution: 192dpi) and (min-width: 768px) {
  .WaterMainInfoContainer {
    background-image: url('/public/boardBg/Tablet/2x/transparent_bottle_for_water\ 1@2x-min.png');
  }
}
@media (min-resolution: 192dpi) and (min-width: 1440px) {
  .WaterMainInfoContainer {
    background-image: url('/public/boardBg/Desctop/2x/transparent_bottle_for_water\ 1-min.png');
  }
}
