.btn {
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  height: 50px;
  gap: 8px;
  background-color: var(--main);
  border: none;
}

.name {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main-white);
}

.popover {
  padding: 4px;
}

.icon {
  width: 16px;
  height: 16px;
  color: var(--main-white);
  transition: all ease-in-out;
}
.iconUp {
  transform: rotate(180deg);
}
/* ===============TABLET================ */

@media screen and (min-width: 768px) {
  .btn {
    margin-left: auto;
    width: 157px;
    height: 56px;
    gap: 10px;
  }
  .popover {
    padding: 8px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}
