.btn {
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  width: 137px;
  height: 50px;
  gap: 8px;
  background-color: var(--main);
}

.name {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main-white);
}

/* ===============TABLET================ */

@media screen and (min-width: 768px) {
  .btn {
    margin-left: auto;
    width: 157px;
    height: 56px;
    gap: 10px;
  }
}
