.modalContent {
  background: var(--main-white);
  position: relative;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 40px 0 40px 16px;
  width: auto;
  height: auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.title {
  font-family: var(--font-family);
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.message {
  font-family: var(--font-family);
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.deleteButton {
  background-color: var(--accent);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color var(--transition);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  padding: 18px 67px;
  width: 304px;
  height: 60px;
}

.deleteButton:hover {
  background-color: var(--accent-hover);
}

.cancelButton {
  background-color: var(--background);
  border: none;
  border-radius: 30px;
  color: rgba(50, 63, 71, 0.3);
  font-size: 16px;
  cursor: pointer;
  transition: background-color var(--transition);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  padding: 18px 59px;
  width: 304px;
  height: 60px;
}

.cancelButtonUk {
  background-color: var(--background);
  border: none;
  border-radius: 30px;
  color: rgba(50, 63, 71, 0.3);
  font-size: 16px;
  cursor: pointer;
  transition: background-color var(--transition);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: center;
  padding: 18px 59px;
  width: 304px;
  height: 60px;
}

.cancelButton:hover {
  color: var(--main-text);
}

@media screen and (max-width: 768px) {
  .buttons {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .deleteButton,
  .cancelButton {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 516px;
    padding: 40px 0 40px 40px;
  }

  .title {
    font-size: 28px;
    line-height: 114%;
  }

  .message {
    font-size: 18px;
    line-height: 133%;
  }

  .buttons {
    width: 356px;
    justify-content: center;
    gap: 10px;
  }

  .deleteButton {
    display: flex;
    justify-content: center;
    padding: 18px 60px;
    width: 170px;
    margin-bottom: 0;
  }

  .cancelButton {
    display: flex;
    justify-content: center;
    width: 170px;
    padding: 18px 60px;
  }

  .closeButton {
    top: 20px;
    right: 20px;
  }
}
