.paginationContainer {
  display: flex;
  align-item: center;
  gap: 22px;
}
.buttonsContainer {
  display: flex;
  align-item: center;
  gap: 20px;
}
.button {
  border: none;
  background-color: transparent;
}
.title {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1%;
}
.icon {
  fill: transparent;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 16px;
    line-height: 24px;
  }
}
