.monthInfoContainer {
  padding: 20px;
}

.monthInfoPaginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
