/* .monthInfoContainer {
  padding: 20px;
} */

.monthInfoPaginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
  }
}
