.form {
  display: flex;
  flex-direction: column;
  width: 310px;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.inputGroup:nth-child(-n + 2) {
  padding-bottom: 16px;
}
.inputGroup > label {
  color: var(--main-text);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1%;
  margin-bottom: 8px;
}

.inputGroupUk > label {
  font-family: var(--font-family);
  color: var(--main-text);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1%;
  margin-bottom: 8px;
}

.inputGroupInput {
  box-sizing: border-box;
  width: 100%;
  border-radius: 15px;
  border: 1px solid var(--main-border);
  background-color: transparent;
  padding: 16px;
  outline: none;
  height: 50px;
}

.inputGroupInput::placeholder {
  color: var(--main-placeholder);
  font-family: Poppins;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
}

.inputGroupInputUk::placeholder {
  color: var(--main-placeholder);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
}

.inputError {
  border: 1px solid var(--validation-error);
  color: var(--validation-error);
}
.error {
  color: var(--validation-error);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
  margin-top: 10px;
}
.passwordContainer {
  position: relative;
}
.passwordToggle {
  position: absolute;
  border: none;
  line-height: 0;
  right: 16px;
  top: 4px;
  padding: 10px;
  background-color: transparent;
  /* display: none; */
}

.icon {
  fill: transparent;
}
.submitButton {
  background: var(--accent);
  border-radius: 30px;
  border: none;
  margin-top: 32px;
  font-weight: bold;
  padding: 16px;
  transition: all var(--transition);
}
.submitButton:hover,
.submitButton:focus {
  background-color: var(--accent-hover);
}

.submitButtonUk {
  font-family: var(--font-family);
  background: var(--accent);
  border-radius: 30px;
  border: none;
  margin-top: 32px;
  font-weight: bold;
  padding: 16px;
  transition: all var(--transition);
}

.submitButton:disabled {
  background-color: transparent;
  border: 1px solid var(--main-border);
  color: var(--main-border);
}

@media screen and (min-width: 768px) {
  .form {
    width: 436px;
  }

  .inputGroup:nth-child(-n + 2) {
    padding-bottom: 20px;
  }

  .inputGroup > label {
    font-size: 16px;
  }
  .inputGroupInput::placeholder {
    font-size: 16px;
  }

  .inputGroupInput {
    height: 56px;
  }

  .passwordToggle {
    display: block;
    top: 16px;
    padding: 0;
  }

  .submitButton {
    padding: 18px;
  }
}
/* ------------------------     стилі modal --------------------------------- */
.modal {
  border-radius: 15px;
  padding: 40px 14px;
  background: var(--main-white);
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  margin-bottom: 16px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  margin-bottom: 28px;
}

.logoutBtn {
  border-radius: 30px;
  padding: 14px 0;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  border: none;
  outline: transparent;
  margin-bottom: 9px;
  transition: all var(--transition);
}

.cancelBtn {
  min-width: 100%;
  border-radius: 30px;
  padding: 14px 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: transparent;
  background: var(--background);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: rgba(50, 63, 71, 0.3);
  transition: all var(--transition);
}

.logoutBtn:hover,
.logoutBtn:focus {
  background-color: var(--accent-hover);
}
.cancelBtn:hover,
.cancelBtn:focus {
  color: var(--main);
}
.closeBtn {
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f474d;
}

/* =================TABLET=============== */

@media screen and (min-width: 768px) {
  .modal {
    width: 516px;
    padding: 40px;
  }
  .title {
    font-size: 28px;
    line-height: 114%;
  }
  .text {
    font-size: 18px;
    line-height: 133%;
  }
  .btnWrap {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .logoutBtn {
    padding: 18px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 150%;
    min-width: 0;
    margin-bottom: 0;
  }
  .cancelBtn {
    min-width: 0;
    padding: 18px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 150%;
  }
  .closeBtn {
    top: 20px;
    right: 20px;
  }
}
