.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.inputGroup {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.inputGroup label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 0.77;
  letter-spacing: 0.1em;
}

.inputGroup input {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 15px;
  border: solid 1px rgba(47, 47, 47, 0.2);
}

.inputGroup input:focus {
  border: solid 1px rgba(47, 47, 47, 0.2);
}
.inputGroup input:active {
  border-color: rgba(47, 47, 47, 0.4);
}

.error {
  color: #ef5050;
  font-size: 14px;
  margin-top: 10px;
}

.submitButton {
  display: flex;
  justify-content: center;
  padding: 16px;
  margin-top: 16px;
  background-color: #9be1a0; /*var(Accent) */
  color: inherit;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
.submitButton:hover,
.submitButton:focus {
  background-color: #87d28d;
}
.submitButton:disabled {
  background-color: #cccccc;
}

.passwordContainer {
  position: relative;
}
.passwordContainer input {
  display: flex;
  justify-content: space-between;
}

.passwordToggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  fill: #ffffff;
  stroke: #2f2f2f;
  stroke-width: 1.8;
}
