.form {
  display: flex;
  flex-direction: column;
  width: 310px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  padding-bottom: 18px;
  width: 100%;
}

.inputGroup > label {
  color: #2f2f2f;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1%;
}

.inputGroupInput {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  background-color: transparent;
  padding-left: 16px;
  outline: none;
}
.inputGroupInput::placeholder {
  color: rgba(47, 47, 47, 0.6);
  font-family: Poppins;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1%;
}
.inputError {
  border: 1px solid rgb(239, 80, 80);
  color: rgb(239, 80, 80);
}
.error {
  color: rgb(239, 80, 80);
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -1%;
  position: absolute;
  bottom: 0;
}

.submitButton {
  height: 50px;
  background: rgb(155, 225, 160);
  width: 100%;
  border-radius: 30px;
  border: none;
  margin-top: 32px;
}
.submitButton:hover,
.submitButton:focus {
  background-color: rgb(135, 210, 141);
}

.submitButton:disabled {
}

.passwordToggle {
  position: absolute;
  border: none;
  background-color: transparent;
  right: -10px;
  top: 42px;
}
.passwordToggle svg {
  fill: transparent;
}
@media screen and (min-width: 768px) {
  .form {
    width: 436px;
  }
  .submitButton {
    width: 450px;
    height: 60px;
  }
  .inputGroupInput {
    width: 436px;
    height: 56px;
  }
  .inputGroup {
    padding-bottom: 20px;
  }
  .inputGroupInput::placeholder {
    font-size: 16px;
  }
  .error {
    font-size: 14px;
  }
}
