.form {
  display: flex;
  flex-direction: column;
  width: 310px;
}

.inputGroup {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.inputGroup label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 0.77;
  letter-spacing: 0.1em;
}

.inputGroupInput {
  height: 50px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 15px;
  border: solid 1px rgba(47, 47, 47, 0.2);
}

.inputGroup input:focus {
  border: solid 1px rgba(47, 47, 47, 0.2);
}
.inputGroup input:active {
  border-color: rgba(47, 47, 47, 0.4);
}

.error {
  color: #ef5050;
  font-size: 14px;
  margin-top: 10px;
}

.submitButton {
  height: 50px;
  background: rgb(155, 225, 160);
  width: 100%;
  border-radius: 30px;
  border: none;
  margin-top: 32px;
}
.submitButton:hover,
.submitButton:focus {
  background-color: rgb(135, 210, 141);
}

.submitButton:disabled {
  background-color: #cccccc;
}

.passwordContainer {
  position: relative;
}
.passwordContainer input {
  display: flex;
  justify-content: space-between;
}

.passwordToggle {
  position: absolute;
  border: none;
  background-color: transparent;
  right: -10px;
  top: 42px;
}

.icon {
  fill: #ffffff;
  stroke: #2f2f2f;
  stroke-width: 1.8;
}
