/*    
 - Точки перелому:
   • mobile: верстка гумова від 320 px, стає адаптивною з 375 px;
   • tablet: з 768 px;
   • desktop: з 1440 рх  */

.container {
  background-color: rgb(240, 239, 244);
  padding: 24px 16px;
  /* width: 344px; */
  /* height: 780px; */
  border-radius: 30px;
}
.logo {
  margin-bottom: 172px;
}
.title {
  text-transform: capitalize;
  margin-bottom: 32px;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.03125em;
}
.notify {
  color: rgba(47, 47, 47, 0.6);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.0555em;
  text-align: center;
  margin-top: 16px;
}
.navLink {
  color: #2f2f2f;
  font-weight: 700;
  line-height: 18px;
}
.advantagesSection {
  display: none;
}

/* верстка гумова від 320px - mobile */
@media screen and (min-width: 320px) {
  .container {
    width: 90%;
  }
}

/* верстка стає адаптивною з 375px */
@media screen and (min-width: 375px) {
  .container {
    width: 343px;
    height: 780px;
  }
}
/* tablet з 768px */
@media screen and (min-width: 768px) {
  .container {
    padding: 32px;
    width: 704px;
    height: 960px;
    display: flex;
    flex-direction: column;
  }
  .content {
    margin: 0 auto;
  }
  .logo {
    margin-bottom: 225px;
  }
  .title {
    font-size: 36px;
  }
  .notify {
    font-size: 16px;
  }
  .navLink {
    font-size: 16px;
    letter-spacing: -0.0714em;
  }
}
/* desktop з 1440px */
@media screen and (min-width: 1440px) {
  .container {
    width: 672px;
    height: 736px;
  }
  .logo {
    margin-bottom: 113px;
  }
  .desctopContainer {
    display: flex;
    gap: 32px;
  }
  .advantagesSection {
    width: 672px;
    height: 736px;
    display: block;
  }
}
